
<ion-view title="StudyConcepts">
   <ion-content>
    <!-- <div class="list card">
      
          <a  ng-repeat="concept in courseconcept.conceptList"
                    class="item item-icon-left" href="">

            <span><h2>{{concept.name}} hi ajay how rru</h2><a href="ajay">Reorder</a></span>
          </a>

    </div>-->
     
      <div class="row">
        <div class="col"><a class="button button-block button-energized" ui-sref="test.default({conceptId : 1})">Test</a></div>
        <div class="col"><a class="button button-block button-energized" ui-sref="tab.practice({conceptId : 1})">Practice</a></div>
      </div>
  
  </ion-content>
</ion-view>
 