
<ion-view title="StudyConcepts">
   <ion-content>
    <!-- <div class="list card">
      
          <a  ng-repeat="concept in courseconcept.conceptList"
                    class="item item-icon-left" href="">

            <span><h2>{{concept.name}} hi ajay how rru</h2><a href="ajay">Reorder</a></span>
          </a>

    </div>-->
     
      <div class="row">
        <div class="col"><a class="button" ui-sref="dpp.view({conceptId : conceptToBeViewed.id})">>Test</a></div>
        <div class="col"><a class="button" ui-sref="question.practice({conceptId : conceptToBeViewed.id})">Practice</a></div>
      </div>
  
  </ion-content>
</ion-view>
 