<ion-view title="Test">
    
   <ion-nav-buttons side="primary">
      <button class="button" ng-click="dpp.goBack()">
        Back
      </button>
    </ion-nav-buttons>
  
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-assertive">
  <div class="buttons">
    <button class="button">Left Button</button>
  </div>
  <h1 class="title">Title!</h1>
  <div class="buttons" ng-click="doSomething()">
    <button class="button">Right Button</button>
  </div>
</ion-footer-bar>
</ion-view>
<div ui-view></div>