<ion-view title="Practice">
   <ion-content>

   
    <ion-list animation="slide-left-right">
        <ion-item class="card item-icon-left"  ng-repeat="practice in conceptPractice.practiceList" type="item-text-wrap" >
          {{practice.description}} 
        
            <ion-item class="item-icon-left"  ng-repeat="option in practice.questionOptions" type="item-text-wrap" >
          {{option.code}} 
            </ion-item>

        </ion-item>
    </ion-list>
 
  
  </ion-content>
</ion-view>
 