<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->

<ion-tabs  class="tabs-icon-top tabs-balanced"  ng-class="appService.app.showTabs">
   <!-- Dashboard Tab -->
  <ion-tab title="My Dpp1" hidden="true" href="#/tab/default"  >
    <ion-nav-view name="tab-default"></ion-nav-view>
  </ion-tab>


  <!-- Dashboard Tab -->
  <ion-tab title="Math"  ui-sref="tab.topics" hidden="appService.app.showTabs">
    <ion-nav-view name="tab-topics"></ion-nav-view>
  </ion-tab>


 <!--  <!-- Dpps Tab 
  <ion-tab title="Physics"   ui-sref="tab.dpps1" >
    <ion-nav-view name="tab-dpps1"></ion-nav-view>
  </ion-tab>

  
<!-- Dpps Tab 
  <ion-tab title="Chemistry"   ui-sref="tab.dpps" >
    <ion-nav-view name="tab-dpps"></ion-nav-view>
  </ion-tab>

 -->
</ion-tabs>
