<ion-view title="Time">
   <ion-content padding="true">
    
     <div class="row responsive-sm" ng-repeat="question in testQuestion.questionList" type="item-text-wrap" >
       <div class="col "><h2>Hello</h2></div>

       <div class="row responsive-sm" ng-repeat="questionOption in testQuestion.questionOptions" type="item-text-wrap" >
         
         <div class="col "><h2>Hello</h2></div>
         <div class="col col-75" ><h2>Is this option correct</h2></div>
       </div>

     </div>  
  
  </ion-content>
</ion-view>